<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

      <!-- JS, Popper.js, and jQuery -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      <!-- JS, Popper.js, and jQuery -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <link rel="stylesheet" href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">



    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  </head>

  <style>

     html,body{
      margin:0px;
      width:100%;
      height:100%;
     }

  table, th {
  border: 1px solid blue;
  text-align: center;
}
table.center {
  margin-left: auto;
  margin-right: auto;
}

  </style>

  <body>

    <nav class="navbar navbar navbar-dark bg-dark" >
       <a class="navbar-brand" style="color:yellow" href="#">BUG_TRACKER</a>
       <div class="navbar-brand">
        <img src="./img/user1.png" class="profile" title="<div><h6><%=name %></h6><h6><%= email %></h6><h6><%= project %></h6></div>" data-toggle="tooltip" style="width:30px;height:30px">
        <img src="./img/out.png" onclick="logout()" style="cursor:pointer;width:30px;height:30px">
       <div>
    </nav>


    <div style="width:100%;height:100%">

      <div style="float:right;width:90%;height:100%;padding:10px">

       <div style="position:relative">
        <div style="float:left;position:absolute;">
         <img src="./img/icon.png" style="width:50px;height:50px" />
        </div>
        <div style="float:right;position:absolute;left:55px">
         <h5>Project: <span id="heading"></span></h5>
         <h5>User:<%=name%>(<span id="post"></span>)</h5>
        </div>
      </div>


       <i class="fa fa-arrow-left" onclick="back();" style="float:right;font-size:2.5em"></i>

       <br/>
       <br/>
       <br/>
       <br/>

        <div class="chart-container" style="margin:2.5%;position:relative;height:50vh;width:45%;float:left;box-shadow: 5px 5px 5px 5px #888888;">
          <h3 style="text-align:center;font-weight:bold">Bug Status</h3>
          <canvas id="mybug" style="padding:20px;margin-top:100px;display:flex;justify-content: center;align-items: center"></canvas>
        </div>

        <div class="chart-container" style="margin:2.5%;position:relative;height:50vh;width:45%;float:right;box-shadow: 5px 5px 5px 5px #888888;">
          <h3 style="text-align:center;font-weight:bold">Milestone Status</h3>
          <canvas id="mymilestone" style="padding:20px;margin-top:100px;display:flex;justify-content:center;align-items:center"></canvas>
        </div>

        <br/>
        <br/>


        <div class="chart-container" style="margin:2.5%;display:flex;justify-content: center;align-items: center;position:relative;height:50vh;width:45%;float:left;box-shadow: 5px 5px 5px 5px #888888;">
          <canvas id="bug_milestone"></canvas>
        </div>

        <div class="bugfixer" style="margin:2.5%;position:relative;height:50vh;width:45%;float:right;overflow-y:scroll;box-shadow: 5px 5px 5px 5px #888888;">
          <h3 style="text-align:center;align-self:center;">Top 5 Bug Fixer</h3>
          <table id="fixer" style="overflow-y:scroll;margin-left:auto;margin-right:auto;width:80%">
           <tr>
            <th>No of Bug Fixed</th>
            <th>Bug Fixer</th>
           </tr>
          </table>
        </div>

        <div class="bugtag" style="margin:2.5%;position:relative;height:50vh;width:45%;float:left;overflow-y:scroll;box-shadow: 5px 5px 5px 5px #888888;">
           <h3 style="text-align:center;align-self:center;">Bug tags</h3>
          <table id="bug_tag" style="overflow-y:scroll;margin-left:auto;margin-right:auto;width:80%">
           <tr>
            <th>Name</th>
            <th>Tag</th>
            <th>Project</th>
           </tr>
          </table>
        </div>

        <div class="milestonetag" style="margin:2.5%;position:relative;height:50vh;width:45%;float:right;overflow-y:scroll;box-shadow: 5px 5px 5px 5px #888888;">
          <h3 style="text-align:center;align-self:center;">MileStone tags</h3>
          <table id="milestone_tag" style="overflow-y:scroll;margin-left:auto;margin-right:auto;width:80%">
            <tr>
             <th>Name</th>
             <th>Tag</th>
             <th>Project</th>
            </tr>
          </table>
        </div>
      </div>


          <div style="float:left;width:10%;height:190%;background-color:#212529;padding-top:20px;padding-left:15px">
           <i class="fa fa-bar-chart" style="color:yellow;font-size:1.5em">    <a class="link" href="/dashboard" style="text-decoration:none;color:white">Dashboard</a></i>
           <br/>
           <br/>
           <i class='fa fa-bug' style="color:yellow;font-size:1.5em">      <a class="link" href="/bug" style="text-decoration:none;color:white">Bug</a></i>
           <br/>
           <br/>
           <i class='fas fa-calendar-alt' style="color:yellow;font-size:1.5em">   <a class="link" href="/calender1" style="text-decoration:none;color:white">Calender</a></i>
           <br/>
           <br/>
           <i class='fas fa-flag' style="color:yellow;font-size:1.5em">   <a class="link" href="/milestone" style="text-decoration:none;color:white">Milestone</a></i>
           <br/>
           <br/>
           <i class="fa fa-edit" style="color:yellow;font-size:1.5em">   <a class="link" href="/event" style="text-decoration:none;color:white">Events</a></i>
           <br/>
           <br/>
           <i class="fa fa-user" style="color:yellow;font-size:1.5em">   <a class="link" href="/user" style="text-decoration:none;color:white">Add Users</a></i>
           <br/>
           <br/>
          </div>

    </div>











   <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
   <script type="text/javascript">


    function logout(){
      window.location.href ="/";
    }


    function back(){
      window.location.href = "/project?email="+email+"&name="+name;
    }


    $(function () {
      $(".profile").tooltip({html: true, placement: "left", trigger: "hover"});
    })


    let url = window.location.href;
    url = url.split("/dashboard?")[1];
    let p = url.split("&");

    let project = p[0].split("=")[1];
    let name = p[1].split("=")[1];
    let email = p[2].split("=")[1];


    fetch('/position',{
       method:'POST',
       enctype:'multipart/form-data',
       headers:{
           'Accept':'application/json , text/plain , text/html */*',
           'Content-type':'application/json'
       },
       body:JSON.stringify({project:project,email:email})
     })
     .then(res=>res.json())
     .then(data=>{
         if( data.success == true ){

           var x, i;
           x = document.querySelectorAll(".link");
           for (i = 0; i < x.length; i++){
             var u = x[i].href;
             u+=`?project=${project}&name=${name}&email=${email}&post=${data.post}`;
             x[i].href = u;
           }


          document.getElementById("heading").innerHTML = project;
          document.getElementById("post").innerHTML = data.post;

         }else{
           window.alert("something went wrong ");
         }
     })





   fetch('/detail_info',{
     method:'POST',
     enctype:'multipart/form-data',
     headers:{
         'Accept':'application/json , text/plain , text/html */*',
         'Content-type':'application/json'
     },
     body:JSON.stringify({project:project,email:email})
   })
   .then(res=>res.json())
   .then(data=>{


      let status_bug = [];
      status_bug.push(0);
      status_bug.push(0);
      status_bug.push(0);
      status_bug.push(0);

      for( let i=0 ; i<data.bug.length ; i++ ){

        if( data.bug[i].status === "Open" ){
          status_bug[0]++;
        }

        if( data.bug[i].status === "In Progress" ){
          status_bug[1]++;
        }

        if( data.bug[i].status === "To Be Tested" ){
          status_bug[2]++;
        }

        if( data.bug[i].status === "Closed" ){
          status_bug[3]++;
        }
      }


      let bugfixers = [];

      for( let i=0 ; i<data.cbug.length ; i++ ){
         let present = 0;

          for( let j=0 ; j<bugfixers.length && j<5 ; j++ ){
            if( bugfixers[j].email == data.cbug[i].email ){
              present = 1;
              bugfixers[j].no++;
              break;
            }
          }

          if( !present ){
            bugfixers.push({email:data.cbug[i].email,no:1});
          }
      }


    bugfixers.sort((a, b) => {
     return a.no - b.no;
    });

    for( let i=bugfixers.length-1 ; i>=0 ; i-- ){
      let tr = document.createElement('tr');
      tr.innerHTML = `
      <td>${bugfixers[i].no}</td>
      <td>${bugfixers[i].email}</td>
      `;
      document.getElementById('fixer').appendChild(tr);
    }





      let arr = [];
      arr.push(0);
      arr.push(0);

      let d1 = new Date();


      for( let i=0 ; i<data.milestone.length ; i++ ){
       let end = data.milestone[i].end;
       if( d1 <= end ){
         arr[0]++;
       }else{
         arr[1]++;
       }
      }


      let len = [];
      len.push(data.bug.length);
      len.push(data.milestone.length);




      for( let i=0 ; i<data.bug.length ; i++ ){
        if( data.bug[i].tag != "" ){
          let a = document.createElement('tr');
          a.innerHTML =`
          <td>${data.bug[i].title}</td>
          <td>${data.bug[i].tag}</td>
          <td>${project}</td>
          `;
          document.getElementById("bug_tag").appendChild(a);
        }
      }


      for( let i=0 ; i<data.milestone.length ; i++ ){
        if( data.milestone[i].tag != "" ){
          let a = document.createElement('tr');
          a.innerHTML =`
          <td>${data.milestone[i].title}</td>
          <td>${data.milestone[i].tag}</td>
          <td>${project}</td>
          `;
          document.getElementById("milestone_tag").appendChild(a);
        }
      }



       var ctx = document.getElementById('mybug').getContext('2d');

       var myChart = new Chart(ctx, {
           type: 'doughnut',

           data: {
               labels: ['Open', 'In progress', 'To Be Tested', 'Closed'],
               datasets: [{
                   data: status_bug,
                   backgroundColor: [
                       'rgb(64, 255, 0)',
                       'rgb(0, 255, 255)',
                       'rgb(0, 191, 255)',
                       'rgb(255, 0, 128)'
                   ],
                   borderColor: [
                     'rgb(64, 255, 0)',
                     'rgb(0, 255, 255)',
                     'rgb(0, 191, 255)',
                     'rgb(255, 0, 128)'
                   ],
                   borderWidth: 1,
               }]
           },

           options: {
               animation:{
                 animateRotate:true,
                 animateScale:true
               },
               aspectRatio:3,
               title: {
                display: false,
                text: 'BUG STATUS',
                fontSize:25,
                fontColor:'black',
                align:'start',
              },
              legend: {
                display:true,
                position:'right',
                fullWidth:true,
                labels:{
                  fontSize:15,
                  usePointStyle: true
                }
              }
           }
       });

       var ct = document.getElementById('mymilestone').getContext('2d');

       var myChart = new Chart(ct, {
           type: 'doughnut',

           data: {
               labels: ['Pending','Delayed'],
               datasets: [{
                   data: arr,
                   backgroundColor: [
                     'rgb(0, 0, 255)',
                     'rgb(128, 0, 255)'
                   ],
                   borderColor: [
                       'rgb(0, 0, 255)',
                       'rgb(128, 0, 255)'
                   ],
                   borderWidth: 1,
               }]
           },

           options: {
               animation:{
                 animateRotate:true,
                 animateScale:true
               },
               title: {
                display: false,
                text: 'MILESTONE STATUS',
                fontSize:25,
                fontColor:'black',
                align:'start',
                position:'top'
              },
              aspectRatio:3,
              legend: {
                display:true,
                position:'right',
                fullWidth:true,
                labels:{
                  fontSize:15,
                  usePointStyle: true
                }
              }
           }
       });

       var c = document.getElementById('bug_milestone').getContext('2d');

       var myChart = new Chart(c, {
           type: 'bar',
           data: {
               labels: ['Bug', 'Milestone'],
               datasets: [{
                   data: len,
                   backgroundColor: [
                     'rgb(0, 191, 255)',
                     'rgb(255, 0, 255)'
                   ],
                   borderColor: [
                     'rgb(0, 191, 255)',
                     'rgb(255, 0, 255)'
                   ],
               }]
           },

           options: {
             scales: {
             xAxes: [{
                 gridLines: {
                     display:false,
                 },
                 stacked: true,
                 ticks: {
                  fontSize: 20
                 }
             }],
             yAxes:[{
                 gridLines: {
                     display:false,
                 },
                 stacked: true,
                 scaleLabel: {
                   display: true,
                   labelString: 'No of Bugs and Milestones',
                   fontSize:20
                 },
                barPercentage: 0.2
             }]
           },
           legend: {
             display:false,
             position:'right',
             fullWidth:true,
             labels:{
               fontSize:15,
               usePointStyle: true
             }
            }
           }

       });

     });



   </script>


 </body>
</html>
